<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677202691236-ku3o2gsagka5h1nn8q26smpa905p0q5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677202691236-ku3o2gsagka5h1nn8q26smpa905p0q5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCexgeMBnABuTaq8ousK7UqXIScncrRl54</string>
	<key>GCM_SENDER_ID</key>
	<string>677202691236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sq.my-proj</string>
	<key>PROJECT_ID</key>
	<string>sq-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>sq-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677202691236:ios:d5cc8072826f39ce19d231</string>
</dict>
</plist>